@import "variable.styl"

body, html
  line-height: 1
  font-family: 'Microsoft YaHei', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $theme-background
  color: $text-color-4e
  width 100%
  max-width 750px
  margin auto
