// 颜色定义规范
$theme-background = #f4f4f4
$color-background = #fff
$text-color-a4 = #a4a4a4
$text-color-4e = #4e4e4e
$text-color-66 = #666
$text-color-33 = #333
$text-color-bd = #bdbdbd
$text-color-theme = #ff618c
$text-red = #ff507f

//字体定义规范
$font-size-small-s = 0.1rem
$font-size-small = 0.12rem
$font-size-small-x = 0.13rem
$font-size-medium = 0.14rem
$font-size-medium-x = 0.16rem
$font-size-medium-xx = 0.17rem
$font-size-large = 0.18rem
$font-size-large-x = 0.2rem

//行距
$fonr-line-height-s = 0.15rem
$fonr-line-height-l = 0.27rem
